.userDetail .list__item{
    width: 22vw;
    height: 6vh;
    border: 1px solid #969696;
   margin-bottom: 0;
}

.userDetail .list__item:hover{
    background: none;
    color: black;
    pointer-events: none;
}

.userDetail .list__image{
    width: 6vh;
    height: 6.1vh;
}

.userDetail .list{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    width: 50vw;
    padding-left: 10px;
}

.follower-amount{
    margin-left: 30px;
}

.userDetail p{
    padding-left: 20px;
}